.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    min-height: 74px;
}

.link {
    margin-right: 10px;
    color: var(--primary-color);
    text-decoration: none;
}

.toggle {
    background-color: inherit;
    border: none;
    cursor: pointer;
}

.logo {
    cursor: pointer;
}